@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.App {

}
.App-logo {

}




.github {
  width: 10%;
  height: 10%;
}
.linkedIn {
  width: 30%;
  height: auto;
}

.linkedInName {
  font-size: 1em;
  margin: 0;
}


/* Header Styling */
.header {
  position:fixed;
  width: 100%;
   font-family: 'Open Sans';
   font-size: 30px;
   color: white;
   padding: 5px;
   background: #f7f9f7aa;
 }


 .link{
  display:inline-flex;
  color: rgb(49, 85, 28);
  text-decoration:none;
  font-weight:400;
  text-shadow: .25px .25px 0 #050,
    -.25px .25px 0 #050,
    .25px -.25px 0 #050,
    -.25px -.25px 0 #050,
    0px .25px 0 #050,
    0px -.25px 0 #050,
    -.25px 0px 0 #050,
    .25px 0px 0 #050,
    .5px .5px 0 #050,
    -.5px .5px 0 #050,
    .5px -.5px 0 #050,
    -.5px -.5px 0 #050,
    0px .5px 0 #050,
    0px -.5px 0 #050,
    -.5px 0px 0 #050,
    .5px 0px 0 #050,
    .25px .5px 0 #050,
    -.25px .5px 0 #050,
    .25px -.5px 0 #050,
    -.25px -.5px 0 #050,
    .5px .25px 0 #050,
    -.5px .25px 0 #050,
    .5px -.25px 0 #050,
    -.5px -.25px 0 #050; 
}
/* End Header Styling */


/* Homepage Styling */
.title-line{
    padding: 1vh;
    width: 100%;
    display: flex;
  justify-content:center;
    margin: 0 auto;

  }
.title{
  font-family: 'Righteous', cursive;
  font-size: 10em;
  color: rgb(244, 247, 243);
  text-shadow: .25px .25px 0 #050,
  -.25px .25px 0 #050,
  .25px -.25px 0 #050,
  -.25px -.25px 0 #050,
  0px .25px 0 #050,
  0px -.25px 0 #050,
  -.25px 0px 0 #050,
  .25px 0px 0 #050,
  .5px .5px 0 #050,
  -.5px .5px 0 #050,
  .5px -.5px 0 #050,
  -.5px -.5px 0 #050,
  0px .5px 0 #050,
  0px -.5px 0 #050,
  -.5px 0px 0 #050,
  .5px 0px 0 #050,
  .25px .5px 0 #050,
  -.25px .5px 0 #050,
  .25px -.5px 0 #050,
  -.25px -.5px 0 #050,
  .5px .25px 0 #050,
  -.5px .25px 0 #050,
  .5px -.25px 0 #050,
  -.5px -.25px 0 #050; 
}
.giftrimg{
  margin-top: 2em;
  width: 8em;
  height: 8em;
}
.home-index{
  min-height: 80em;
  background-color:rgb(215, 244, 222);
  background-size: cover;
}
/* End Homepage Styling */




/* Footer Styling */
.footerlinks{
  width: 6em;
  height: 6em;
  margin-bottom: .2em;
}

.footer1{
  display: inline-flex;
  justify-items: right;
  /* font-size: 20px; */
  color: white;
  padding: 5px;
  background: rgba(251, 252, 252, 0.666);
  position:fixed;
  bottom:0;
  /* width:100%; */
}
/* End Footer Styling */