@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.App {
}
.App-logo {
}
.github {
  width: 10%;
  height: 10%;
}
.linkedIn {
  width: 30%;
  height: auto;
}
.linkedInName {
  font-size: 1em;
  margin: 0;
}


/* Header Styling */
.header {
  position:fixed;
  width: 100%;
   font-family: 'Open Sans';
   font-size: 30px;
   color: white;
   padding: 5px;
   background: #f7f9f7aa;
 }
 .inlineheader{
  display:flex;
  justify-content: right;
  margin-right: 2vw;
}
.headerlinks{
  margin-right: 0%;
  display: flex;
  justify-items: space-between;
}
 .link{
  color: rgb(49, 85, 28);
  text-decoration:none;
  font-weight:400;
  text-shadow: .25px .25px 0 #050,
    -.25px .25px 0 #050,
    .25px -.25px 0 #050,
    -.25px -.25px 0 #050,
    0px .25px 0 #050,
    0px -.25px 0 #050,
    -.25px 0px 0 #050,
    .25px 0px 0 #050,
    .5px .5px 0 #050,
    -.5px .5px 0 #050,
    .5px -.5px 0 #050,
    -.5px -.5px 0 #050,
    0px .5px 0 #050,
    0px -.5px 0 #050,
    -.5px 0px 0 #050,
    .5px 0px 0 #050,
    .25px .5px 0 #050,
    -.25px .5px 0 #050,
    .25px -.5px 0 #050,
    -.25px -.5px 0 #050,
    .5px .25px 0 #050,
    -.5px .25px 0 #050,
    .5px -.25px 0 #050,
    -.5px -.25px 0 #050; 
}


/* End Header Styling */


/* Homepage Styling */
.title{
  font-family: 'Righteous', cursive;
  font-size: 10em;
  color: rgb(244, 247, 243);
  text-shadow: .25px .25px 0 #050,
  -.25px .25px 0 #050,
  .25px -.25px 0 #050,
  -.25px -.25px 0 #050,
  0px .25px 0 #050,
  0px -.25px 0 #050,
  -.25px 0px 0 #050,
  .25px 0px 0 #050,
  .5px .5px 0 #050,
  -.5px .5px 0 #050,
  .5px -.5px 0 #050,
  -.5px -.5px 0 #050,
  0px .5px 0 #050,
  0px -.5px 0 #050,
  -.5px 0px 0 #050,
  .5px 0px 0 #050,
  .25px .5px 0 #050,
  -.25px .5px 0 #050,
  .25px -.5px 0 #050,
  -.25px -.5px 0 #050,
  .5px .25px 0 #050,
  -.5px .25px 0 #050,
  .5px -.25px 0 #050,
  -.5px -.25px 0 #050; 
}
.title-line{
    padding: 1vh;
    width: 100%;
    display: flex;
    justify-content:center;
    margin: 0 auto;
  }
  .titleimg{
    width: 35em;
    height: 14em;
  }
.giftrimg{
  /* margin-top: 2em; */
  width: 12em;
  height: 14em;
}
.home-index{
  min-height: 80em;
  background-size: cover;
  background-repeat:no-repeat;
}
/* End Homepage Styling */


/* Footer Styling */
.footerlinks{
  width: 5em;
  height: 5em;
  margin-bottom: .2em;
}
.footer{
  display: inline-flex;
  float: right;
  color: white;
  padding: 5px;
  background: rgba(251, 252, 252, 0.666);
  position:fixed;
  bottom:0;
  width:100%;
}
.inlinefooter{
  display:flex;
  justify-content: space-between;
}
/* End Footer Styling */



/* Animated background */